* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px
}

/* header section */ 

#bell {
    height: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

#user-pfp {
    height: 30px;
    width:  30px;
    border: 1px solid black;
    border-radius: 50%;
}
/* sidebar section */ 

#logo {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#sidebar > div > ul > li > a:link,
#sidebar > div > ul > li > a:active,
#sidebar > div > ul > li > a:visited {
    text-decoration: none;
    color: inherit;
}